*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    /* CORES NEUTRAS */
    --primeira: #111111;
    --segunda: #2d2d2d;
    --terceira: #494949;
    --quarta: #646464;
    --quinta: #808080;
    /* CORES COLORIDAS */
    --laranja: #f9a830;
    --marrom: #6b3100;
    /* TEMPO DE TRANSIÇÃO */
    --timeone: 300ms;
}

html, body{
    width: 100%;
    height: 100%;
}

/* NAV BAR */

nav{
    width: 100%;
    height: 60px;
    background-color: var(--primeira);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 1px black;
}

nav .nav-left h3{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: fadein 2s;
    transition: 300ms;
}

nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav .nav-right a{
    color: white;
    text-decoration: none;
    animation: fadein 2s;
    transition: 300ms;
}

nav .nav-right a:hover{
    transform: translateY(-5px);
    transition: 300ms;
}

nav .nav-right img{
    width: 30px;
    animation: fadein 2s;
    transition: 300ms;
    border-radius: 50%;
    box-shadow: none;
}

nav .nav-right img:hover{
    filter: invert(1);
    transition: 300ms;
    box-shadow: 0px 0px 10px 1px white;
    background-color: black;
}

@keyframes fadein{
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;
    }
}

/* MAIN */

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* VIDEO */

.content-video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-video iframe{
    width: 100%;
    height: 400px;
}

.content-video .content-text{
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.content-video .content-text h2{
    color: white;
}

.content-video .content-text button{
    width: 100px;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    background-color: var(--laranja);
    border: none;
    transition: var(--timeone);
}

.content-video .content-text button:hover{
    background-color: var(--marrom);
    color: white;
    transition: var(--timeone);
}

/* CERTIFICAÇÕES DO TRABALHO */

.certificacoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}

.certificacoes .content-cf{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 10px;
    animation: fadebottom 2s;
}

.certificacoes .content-cf img{
    width: 60px;
    background-color: var(--segunda);
    border-radius: 50%;
    margin: auto;
}

.certificacoes .content-cf p{
    color: var(--segunda);
}

@keyframes fadebottom{
    0%{
        transform: translateY(50px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0px);
        opacity: 100%;
    }
}

/* LINHA */

.lin{
    width: 90%;
    height: 2px;
    background-color: var(--primeira);
    margin-top: 50px;
    margin-bottom: 50px;
}

/* SOBRE MIM */

.me-content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.me-content .me-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.me-content .me-img img{
    width: 50%;
}

.me-content .me-text{
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.me-content .me-text .me-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.me-content .me-text .me-title h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black;
    color: white;
    padding: 3px;
    margin-bottom: 20px;
}



/* RESPONSIVIDADE */

@media(max-width: 710px){

    .certificacoes{
        display: grid;
    }

    .certificacoes .content-cf{
        width: 100%;
        text-align: center;
    }

    .certificacoes .content-cf img{
        width: 30%;
    }

    .me-content{
        display: grid;
    }

    .me-content .me-img{
        width: 100%;
    }

    .me-content .me-img img{
        width: 70%;
    }

    .me-content .me-text{
        width: 100%;
        padding: 0;
        margin-top: 20px;
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .me-content .me-text p{
        width: 100%;
    }

}

@media(max-width: 350px){

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav .nav-left h3{
        display: none;
    }

    .content-video .content-text h2{
        font-size: 10vw;
    }

}