*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100%;
}

body{
    background-color: white;
}

:root{
    --primeira: #111111;
    --segunda: #2d2d2d;
    --terceira: #494949;
    --quarta: #646464;
    --quinta: #808080;
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primeira);
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav h3, a{
    color: white;
    text-decoration: none;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bunner{
    width: 100%;
    height: 600px;
    position: relative;
}

.bunner img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

main .lin{
    width: 90%;
    height: 3px;
    background-color: var(--segunda);
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 800px){
    .bunner, .bunner img{
        height: 300px;
    }
}

.main-title{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-text span {
    display: inline-block;
    font-size: 4rem;
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}
.wave-text span:nth-child(5) {
    animation-delay: 0.8s;
}

.wave-text span:nth-child(6) {
    animation-delay: 1s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.sobre{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    margin-top: 100px;
}

.sobre-text{
    width: 50%;
}

.sobre-text p{
    font-size: 1.5rem;
}

.sobre-img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-img img{
    width: 50%;
}